# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# vscode
.vscode

# gradle
build
.gradle

# other
eclipse
run/
.env
libs
*.log
.gradle-user
.codex_tmp
repomix-output-AppliedEnergistics-Applied-Energistics-2.md
todo.md

.opencode
